In [1]:
pip install numpy

Requirement already satisfied: numpy in c:\users\student\anaconda3\lib\site-packages (1.26.4)Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install numpy

Requirement already satisfied: numpy in c:\users\student\anaconda3\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
#Statement to import the numpy library
import numpy as np

In [19]:
l=[1,2,3,4]
print("list:",l)
print(type(l))
one_d_array=np.array(l)
print("numpy array: ", one_d_array)
print(type(one_d_array))

list: [1, 2, 3, 4]
<class 'list'>
numpy array:  [1 2 3 4]
<class 'numpy.ndarray'>

In [20]:
li = [[1,2],[3,4]]
print(type(li))
two_d_array=np.array(li)
print(two_d_array)
print(type(two_d_array))

<class 'list'>
[[1 2]
 [3 4]]
<class 'numpy.ndarray'>

In [21]:
c=[[[1,2],[3,4]],[[5,6],[7,8]]]
print(type(c))
three_d_array=np.array(c)
print(three_d_array)
print(type(three_d_array))

<class 'list'>
[[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]]
<class 'numpy.ndarray'>

In [27]:
print("one d array dimension: ", one_d_array.ndim)
print("one d array shape: ", one_d_array.shape)
print("one d array size: ", one_d_array.size)
print("\n")
print("two d array dimension: ", two_d_array.ndim)
print("two d array shape: ", two_d_array.shape)
print("two d array size: ", two_d_array.size)
print("\n")
print("three d array dimension: ", three_d_array.ndim)
print("three d array shape: ", three_d_array.shape)
print("three d array size: ", three_d_array.size)

one d array dimension:  1
one d array shape:  (4,)
one d array size:  4


two d array dimension:  2
two d array shape:  (2, 2)
two d array size:  4


three d array dimension:  3
three d array shape:  (2, 2, 2)
three d array size:  8

In [28]:
import sys
sample_list=[0,1,2,3,4,5,6,7,8,9,]
print("Memory cons by an element", sys.getsizeof(sample_list[0]))
print("Total memory usage",(sys.getsizeof(sample_list[0]))*len(sample_list))

Memory cons by an element 28
Total memory usage 280

In [29]:
numpy_array=np.array([0,1,2,3,4,5,6,7,8,9])
print("Memory cons by an element", numpy_array.itemsize)
print("Total memory usage",numpy_array.itemsize*numpy_array.size)

Memory cons by an element 4
Total memory usage 40

In [30]:
numpy_array=np.array([0,1,2,3,4,5,6,7,8,9])
print("Memory cons by an element", numpy_array.itemsize)
print("Total memory usage",numpy_array.itemsize*len(numpy_array))

Memory cons by an element 4
Total memory usage 40

In [31]:
pip install pandas

Requirement already satisfied: pandas in c:\users\student\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\student\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\student\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\student\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\student\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\student\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

In [4]:
number_list=[11,22,33,44,55]
number_series=pd.Series(number_list, index=['a','b','c','d','e'],name='Number')
print(number_series)

a    11
b    22
c    33
d    44
e    55
Name: Number, dtype: int64

In [5]:
std_dict={'name':['Tom','harry','ortho','palermo'],'Age':[20,21,19,18]}
df=pd.DataFrame(std_dict)
print(df)

      name  Age
0      Tom   20
1    harry   21
2    ortho   19
3  palermo   18

In [10]:
dataset=pd.read_csv("d:/Users/Student/Downloads/dataset/dataset/tips.csv")
dataset.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4